## https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data =pd.read_csv('bank-additional-full.csv',sep=';')

In [3]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [5]:
data.shape

(41188, 21)

In [6]:
data.shape

(41188, 21)

In [7]:
#data['nr.employed'].unique()

In [8]:
Null_values_data=data.isnull().sum()/len(data)*100

In [9]:
dtype_attribute=data.columns.to_series().groupby(data.dtypes).groups
#dtype_attribute

In [10]:
x = data.columns.to_series().groupby(data.dtypes).groups
x

{dtype('int64'): Index(['age', 'duration', 'campaign', 'pdays', 'previous'], dtype='object'),
 dtype('float64'): Index(['emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m',
        'nr.employed'],
       dtype='object'),
 dtype('O'): Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
        'month', 'day_of_week', 'poutcome', 'y'],
       dtype='object')}

In [11]:
categorical_list =[x for x in data.columns if data[x].dtype==object]
#categorical_list

In [12]:
unique_values_dict ={}
for i in categorical_list:
    li=[]
    unique_values_dict[i]=data[i].unique()

In [13]:
unique_values_dict

{'contact': array(['telephone', 'cellular'], dtype=object),
 'day_of_week': array(['mon', 'tue', 'wed', 'thu', 'fri'], dtype=object),
 'default': array(['no', 'unknown', 'yes'], dtype=object),
 'education': array(['basic.4y', 'high.school', 'basic.6y', 'basic.9y',
        'professional.course', 'unknown', 'university.degree', 'illiterate'], dtype=object),
 'housing': array(['no', 'yes', 'unknown'], dtype=object),
 'job': array(['housemaid', 'services', 'admin.', 'blue-collar', 'technician',
        'retired', 'management', 'unemployed', 'self-employed', 'unknown',
        'entrepreneur', 'student'], dtype=object),
 'loan': array(['no', 'yes', 'unknown'], dtype=object),
 'marital': array(['married', 'single', 'divorced', 'unknown'], dtype=object),
 'month': array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'mar', 'apr', 'sep'], dtype=object),
 'poutcome': array(['nonexistent', 'failure', 'success'], dtype=object),
 'y': array(['no', 'yes'], dtype=object)}

In [14]:
key_list = data['y'].value_counts().index.tolist()

In [15]:
value_list=data['y'].value_counts().tolist()

In [16]:
dict_response = dict(zip(key_list,value_list))

In [17]:
dict_response_percentage={}
dict_response_percentage['no'] = dict_response['no']/(dict_response['no']+dict_response['yes'])
dict_response_percentage['yes'] = dict_response['yes']/(dict_response['no']+dict_response['yes'])

In [18]:
dict_response_percentage

{'no': 0.8873458288821987, 'yes': 0.11265417111780131}

In [19]:
data.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [20]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
le.fit(data['marital'])
data['marital'] = le.transform(data['marital'])
#list(le.inverse_transform(data['marital']))

In [21]:
data['job'] = le.fit_transform(data['job'])

In [22]:
data['education'] = le.fit_transform(data['education'])

In [23]:
data['default'] = le.fit_transform(data['default'])

In [24]:
data['housing'] = le.fit_transform(data['housing'])

In [25]:
data['loan'] = le.fit_transform(data['loan'])

In [26]:
data['contact'] = le.fit_transform(data['contact'])

In [27]:
data['month'] = le.fit_transform(data['month'])

In [28]:
data['day_of_week'] = le.fit_transform(data['day_of_week'])

In [29]:
data['poutcome'] = le.fit_transform(data['poutcome'])

In [30]:
dict_y ={"y":{'yes':1,'no':0}}

In [31]:
data.replace(dict_y,inplace = True)

In [32]:
data['default'].corr(data['y'])

-0.099351797761485602

In [101]:
#plt.scatter(data['education'],data['y'])

In [34]:
X = data.drop('y', axis = 1)
y = data['y']

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=10)
clf = LogisticRegression(C=.001,max_iter=1000)
clf.fit(X_train, y_train)
#X_train.shape

LogisticRegression(C=0.001, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=1000, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [92]:
pred = clf.predict(X_test)
pred.shape

(12357,)

In [94]:
accuracy_score(pred,y_test)

0.90612608238245529

In [95]:
from sklearn.metrics import classification_report
pred = clf.predict(X_test)
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          0       0.92      0.98      0.95     10935
          1       0.66      0.37      0.48      1422

avg / total       0.89      0.91      0.89     12357

In [56]:
cv = KFold(n_splits=5, shuffle=True)
crossval_score = cross_val_score(clf,X,y,cv=5)

In [57]:
crossval_score.mean()

0.83506891302200703

# DecisionTreeClassifier

In [83]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=0)
dt.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=0, splitter='best')

In [96]:
pred = dt.predict(X_test)

In [97]:
accuracy_score(pred,y_test)

0.8896172210083354

In [99]:
pred = dt.predict(X_test)
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          0       0.94      0.94      0.94     10935
          1       0.52      0.52      0.52      1422

avg / total       0.89      0.89      0.89     12357