# Exercises for "Hands-on with Pydata: How to Build a Minimal Recommendation Engine"

# Systems check: imports and files

In [1]:
import numpy as np
import pandas as pd

# Pandas questions: Series and DataFrames
## 1. Adding a column in a DataFrame

In [2]:
# given the following DataFrame, add a new column to it
df = pd.DataFrame({'col1': [1,2,3,4]})
df['col2'] =[4,5,6,7]
df

   col1  col2
0     1     4
1     2     5
2     3     6
3     4     7

## 2. Deleting a row in a DataFrame

In [3]:
# given the following DataFrame, delete row 'd' from it
df = pd.DataFrame({'col1': [1,2,3,4]}, index = ['a','b','c','d'])
df.drop('d',axis=0)

   col1
a     1
b     2
c     3

## 3. Creating a DataFrame from a few Series

In [4]:
# given the following three Series, create a DataFrame such that it holds them as its columns
ser_1 = pd.Series(np.random.randn(6))
ser_2 = pd.Series(np.random.randn(6))
ser_3 = pd.Series(np.random.randn(6))
df_3 = pd.DataFrame({'col1':ser_1,'col2':ser_2,'col3':ser_3})
df_3

       col1      col2      col3
0 -0.230525  0.124664  0.322400
1  0.319756 -0.553010  0.705074
2 -1.523321  0.069852  0.148068
3 -0.140973 -1.191655 -0.665034
4 -1.712470  0.933710 -0.909647
5 -0.539380 -0.531547 -0.218762

# Pandas questions: Indexing

## 1. Indexing into a specific column

In [5]:
# given the following DataFrame, try to index into the 'col_2' column
df = pd.DataFrame(data={'col_1': [0.12, 7, 45, 10], 'col_2': [0.9, 9, 34, 11]},
                  columns=['col_1', 'col_2', 'col_3'],
                  index=['obs1', 'obs2', 'obs3', 'obs4'])
df['col_2']
#df

obs1     0.9
obs2     9.0
obs3    34.0
obs4    11.0
Name: col_2, dtype: float64

## 2. Label-based indexing

In [6]:
# using the same DataFrame, index into the row whose index is 'obs3'
df.loc['obs3']

col_1     45
col_2     34
col_3    NaN
Name: obs3, dtype: object

## 2. Position-based indexing

In [7]:
# using the same DataFrame, index into into its first row
df.iloc[0]

col_1    0.12
col_2     0.9
col_3     NaN
Name: obs1, dtype: object

# Mini-Challenge prep: data loading

## 1. How to load the `users` and `movies` portions of MovieLens

In [8]:
import pandas as pd

users = pd.read_table('data/ml-1m/users.dat',
                      sep='::', header=None,
                      names=['user_id', 'gender', 'age', 'occupation', 'zip']
                     ,engine='python')

movies = pd.read_table('data/ml-1m/movies.dat',
                       sep='::', header=None,
                       names=['movie_id', 'title', 'genres'],engine='python')
ratings = pd.read_table('data/ml-1m/ratings.dat',
                       sep='::', header=None,
            names=['user_id', 'movie_id', 'rating', 'timestamp'],engine='python')

In [9]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

## 2. How to load the training and testing subsets

In [10]:
# subset version (hosted notebook)
movielens_train = pd.read_csv('data/movielens_train.csv', index_col=0, encoding='latin1')
movielens_test = pd.read_csv('data/movielens_test.csv', index_col=0, encoding='latin1')

In [11]:
movielens_train.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
593263,3562,3798,4,967332344,F,25,6,32812,What Lies Beneath (2000),Thriller,False
235597,1051,3793,4,974958593,F,25,0,60513,X-Men (2000),Action|Sci-Fi,False
219003,3727,2366,3,966309522,M,35,7,74401,King Kong (1933),Action|Adventure|Horror,False
685090,4666,1094,3,963843918,M,35,1,53704,"Crying Game, The (1992)",Drama|Romance|War,False
312377,3261,1095,4,968251750,M,45,20,87505,Glengarry Glen Ross (1992),Drama,False

In [12]:
movielens_test.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
693323,4653,2648,4,975532459,M,35,12,95051,Frankenstein (1931),Horror,False
24177,2259,1270,4,974591524,F,56,16,70503,Back to the Future (1985),Comedy|Sci-Fi,False
202202,3032,1378,5,970343147,M,25,0,47303,Young Guns (1988),Action|Comedy|Western,False
262003,3029,2289,4,972846393,M,18,4,92037,"Player, The (1992)",Comedy|Drama,False
777848,4186,2403,3,1017931262,M,25,7,33308,First Blood (1982),Action,False

# Mini-Challenge prep: evaluation functions

These are the two functions that you will need to test your `estimate` method.

In [13]:
movielens_test.user_id.head()

693323    4653
24177     2259
202202    3032
262003    3029
777848    4186
Name: user_id, dtype: int64

In [14]:
movielens_test.movie_id.head()

693323    2648
24177     1270
202202    1378
262003    2289
777848    2403
Name: movie_id, dtype: int64

In [15]:
ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
#list(ids_to_estimate)

In [16]:
#li = [(u,i) for (u,i) in ids_to_estimate]

In [17]:
def compute_rmse(y_pred, y_true):
    """ Compute Root Mean Squared Error. """
    
    return np.sqrt(np.mean(np.power(y_pred - y_true, 2)))

In [18]:
ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
#estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])

In [19]:
def evaluate(estimate_f):
    """ RMSE-based predictive performance evaluation with pandas. """
    
    ids_to_estimate = zip(movielens_test.user_id, movielens_test.movie_id)
    #print(list(ids_to_estimate))
    estimated = np.array([estimate_f(u,i) for (u,i) in ids_to_estimate])
    print(estimated)
    #print(len(estimated))
    real = movielens_test.rating.values
    return compute_rmse(estimated, real)

Test a dummy solution!

In [20]:
def my_estimate_func(user_id, movie_id):
    return 3.0

You can test for performance with the following line, which assumes that your function is called `my_estimate_func`:

In [21]:
print('RMSE for my estimate function: %s' % evaluate(my_estimate_func))

[ 3.  3.  3. ...,  3.  3.  3.]
RMSE for my estimate function: 1.23237195265

# Reco systems questions: Minimal reco engine v1.0

## 1. Simple collaborative filtering using mean ratings

In [22]:
df = pd.DataFrame([[1, 2], [3, 4]], index=['A', 'B'], columns=['X', 'Y'])
df.loc[[True, False]]

   X  Y
A  1  2

In [23]:
#~np.isnan(df['X'])

In [24]:
movielens_train.head()
movielens_train[movielens_train['movie_id'] == 2648]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
693112,1717,2648,5,974706281,F,50,6,30307,Frankenstein (1931),Horror,False
693286,4260,2648,3,965322649,M,25,16,59079,Frankenstein (1931),Horror,False

In [25]:

len(movielens_train[['user_id','movie_id']])

5838

In [26]:
# write an 'estimate' function that computes the mean rating of a particular user
def collab_mean(user_id, movie_id):
    # first, index into all ratings of this movie
    # second, compute the mean of those ratings
    movie_cond = movielens_train['movie_id']==movie_id
    #print(movie_cond.sum())
    #print(pd.DataFrame(ratings))
    mean_rating = movielens_train.loc[movie_cond,'rating'].mean()
    return mean_rating

    
# try it out for a user_id, movie_id pair
collab_mean(4653, 2648)

4.0

In [27]:
movielens_train[movielens_train['movie_id']==2648]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
693112,1717,2648,5,974706281,F,50,6,30307,Frankenstein (1931),Horror,False
693286,4260,2648,3,965322649,M,25,16,59079,Frankenstein (1931),Horror,False

In [28]:
user_condition = movielens_train['user_id'] !=4653
movie_cond = movielens_train['movie_id']== 2648
rating_by_others = movielens_train.loc[user_condition & movie_cond]
rating_by_others

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
693112,1717,2648,5,974706281,F,50,6,30307,Frankenstein (1931),Horror,False
693286,4260,2648,3,965322649,M,25,16,59079,Frankenstein (1931),Horror,False

In [29]:
def collab_mean(user_id, movie_id):
    # first, index into all ratings of this movie
    # second, compute the mean of those ratings
    user_condition = movielens_train['user_id'] !=user_id
    movie_cond = movielens_train['movie_id']== movie_id
    #print(movie_cond.sum())
    #print(pd.DataFrame(ratings))
    rating_by_others = movielens_train.loc[user_condition & movie_cond]
    #print(rating_by_others.rating)
    #mean_rating = movielens_train.loc[movie_cond,'rating'].mean()
    if rating_by_others.empty:
        return 3.0
    else:
        return rating_by_others.rating.mean()

    
# try it out for a user_id, movie_id pair
print(collab_mean(4653, 2648))
print('RMSE %s'%evaluate(collab_mean))

4.0
[ 4.          4.          3.57142857 ...,  4.          4.4         2.16666667]
RMSE 1.1234279896

In [30]:
movielens_test[movielens_test['movie_id'] == 2648]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
693323,4653,2648,4,975532459,M,35,12,95051,Frankenstein (1931),Horror,False

In [31]:
movielens_train

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
593263,3562,3798,4,967332344,F,25,6,32812,What Lies Beneath (2000),Thriller,False
235597,1051,3793,4,974958593,F,25,0,60513,X-Men (2000),Action|Sci-Fi,False
219003,3727,2366,3,966309522,M,35,7,74401,King Kong (1933),Action|Adventure|Horror,False
685090,4666,1094,3,963843918,M,35,1,53704,"Crying Game, The (1992)",Drama|Romance|War,False
312377,3261,1095,4,968251750,M,45,20,87505,Glengarry Glen Ross (1992),Drama,False
916102,1139,3317,5,987819143,M,25,1,93420-2852,Wonder Boys (2000),Comedy|Drama,False
757805,2507,3707,2,974082793,M,25,4,94107,Nine 1/2 Weeks (1986),Drama,False
216517,2664,1036,5,973455698,M,35,7,52402,Die Hard (1988),Action|Thriller,False
28065,5792,527,5,958082168,M,25,17,43201,Schindler's List (1993),Drama|War,False
284940,3395,2959,3,967487438,M,25,7,02134,Fight Club (1999),Drama,False
677643,4213,466,4,965839559,M,35,7,63125,Hot Shots! Part Deux (1993),Action|Comedy|War,False
241780,2550,296,4,974030424,M,50,7,37931,Pulp Fiction (1994),Crime|Drama,False
487663,1230,3704,4,974836558,M,25,11,95125,Mad Max Beyond Thunderdome (1985),Action|Sci-Fi,False
647317,1219,2533,2,1003845122,M,25,7,12206,Escape from the Planet of the Apes (1971),Action|Sci-Fi,False
8747,4510,1287,3,964990792,M,45,7,92503,Ben-Hur (1959),Action|Adventure|Drama,False
8203,5992,1197,5,956865152,F,18,4,21046,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance,False
926550,4458,2448,2,966200199,F,25,4,15701-2017,Virus (1999),Horror|Sci-Fi,False
637336,5675,293,4,958682607,M,35,14,30030,"Professional, The (a.k.a. Leon: The Profession...",Crime|Drama|Romance|Thriller,False
900406,5854,2793,4,958273894,M,45,7,33135,"American Werewolf in Paris, An (1997)",Comedy|Horror,False
612863,4532,1645,3,966029633,M,25,7,10025,"Devil's Advocate, The (1997)",Crime|Horror|Mystery|Thriller,False
662005,4510,2085,4,964980393,M,45,7,92503,101 Dalmatians (1961),Animation|Children's,False
773298,3704,2313,4,967160696,F,35,0,04255,"Elephant Man, The (1980)",Drama,False
707370,980,3000,5,975731496,M,25,6,92014,"Princess Mononoke, The (Mononoke Hime) (1997)",Action|Adventure|Animation,False
994951,3618,3368,3,966862995,M,56,17,22657,"Big Country, The (1958)",Romance|Western,False
30581,4658,1097,4,963878831,M,25,4,99163,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,False
538648,5339,2021,3,960713073,M,18,17,60193,Dune (1984),Fantasy|Sci-Fi,False
799606,5585,846,5,959489268,M,25,4,10016,Flirt (1995),Drama,False
821550,1191,1946,5,974851371,F,35,0,98117,Marty (1955),Drama|Romance,False
309693,4248,24,4,965308542,M,25,4,26508,Powder (1995),Drama|Sci-Fi,False
388758,2818,1673,4,972669759,M,25,12,55106,Boogie Nights (1997),Drama,False
...,...,...,...,...,...,...,...,...,...,...,...
548487,4480,2108,2,965108214,M,25,0,94403,L.A. Story (1991),Comedy|Romance,False
56665,5424,3114,4,968471730,F,35,2,80012,Toy Story 2 (1999),Animation|Children's|Comedy,False
880205,5220,1011,3,961551631,M,25,7,91436,Herbie Rides Again (1974),Adventure|Children's|Comedy,False
491480,271,1025,4,976636109,M,18,4,48202,"Sword in the Stone, The (1963)",Animation|Children's,False
248580,4626,6,5,964112809,M,25,14,97219,Heat (1995),Action|Crime|Thriller,False
278225,4397,3176,2,965159917,M,18,4,43402,"Talented Mr. Ripley, The (1999)",Drama|Mystery|Thriller,False
152149,3013,1124,3,970522566,M,45,17,97124,On Golden Pond (1981),Drama,False
737848,5691,3104,4,958599228,M,35,14,66013,Midnight Run (1988),Action|Adventure|Comedy|Crime,False
716473,3931,2671,3,965710396,M,25,5,92117,Notting Hill (1999),Comedy|Romance,False
162703,2405,920,5,974257889,M,50,8,78065,Gone with the Wind (1939),Drama|Romance|War,False
928420,4725,2092,3,963375618,M,35,5,96707-1321,"Return of Jafar, The (1993)",Animation|Children's|Musical,False
107273,433,2858,4,976248628,M,50,6,55115,American Beauty (1999),Comedy|Drama,False
349073,1513,1997,2,974749968,F,35,16,95003,"Exorcist, The (1973)",Horror,False
139488,2772,95,3,973228634,M,35,17,10025,Broken Arrow (1996),Action|Thriller,False
256262,5113,3083,5,963316896,M,25,0,55408,All About My Mother (Todo Sobre Mi Madre) (1999),Comedy|Drama,False
888129,5526,1280,5,963100222,F,35,2,27514,Raise the Red Lantern (1991),Drama,False
950896,2173,3921,2,974610494,M,50,13,87502,Beach Party (1963),Comedy,False
668851,4126,2253,2,976487134,M,25,17,53188,Toys (1992),Action|Comedy|Fantasy,False
739828,3031,11,3,970356439,M,18,4,48135,"American President, The (1995)",Comedy|Drama|Romance,False
393014,770,223,3,980588023,M,18,4,98499,Clerks (1994),Comedy,False
500935,3946,3087,5,965747927,F,25,12,22207,Scrooged (1988),Comedy,False
397583,26,1777,2,978139056,M,25,7,23112,"Wedding Singer, The (1998)",Comedy|Romance,False
424247,377,1252,4,976303616,M,25,17,55418,Chinatown (1974),Film-Noir|Mystery|Thriller,False
942640,2907,3901,5,994534844,F,35,5,12345,Duets (2000),Comedy|Drama,False
249648,6037,3006,4,956709265,F,45,1,76006,"Insider, The (1999)",Drama,False
418478,3497,1307,4,967182849,F,35,2,94109,When Harry Met Sally... (1989),Comedy|Romance,False
730445,1873,1249,3,975131511,M,35,7,02127,Nikita (La Femme Nikita) (1990),Thriller,False
502516,3320,3591,4,968203950,M,25,1,56082,Mr. Mom (1983),Comedy|Drama,False
888991,1484,766,4,997907337,M,25,12,07054,I Shot Andy Warhol (1996),Drama,False
466639,5074,2096,4,962497969,M,1,0,20132,Sleeping Beauty (1959),Animation|Children's|Musical,False

# Mini-Challenge: first round
Implement an `estimate` function of your own using other similarity notions, eg.:

- collaborative filter based on age similarities
- collaborative filter based on zip code similarities
- collaborative filter based on occupation similarities
- content filter based on movie genre

In [30]:
user_info = users.set_index('user_id')
user_info.head()

        gender  age  occupation    zip
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117
4            M   45           7  02460
5            M   25          20  55455

In [31]:
user_info.ix[1,'gender']

'F'

In [32]:
#df = movielens_train[movielens_train['movie_id']==2]
#df.groupby('gender')['rating'].mean()

In [33]:
movielens_train['age'].unique()

array([25, 35, 45, 50, 18, 56,  1])

In [35]:
#1. GENDER
class CollabGenderReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_gender = movielens_train.pivot_table('rating', 
                                index='movie_id', columns='gender')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same gender. """
        
        if movie_id not in self.means_by_gender.index: 
            return 3.0
        
        user_gender = user_info.ix[user_id, 'gender']
        if ~np.isnan(self.means_by_gender.ix[movie_id, user_gender]):
            return self.means_by_gender.ix[movie_id, user_gender]
        else:
            return self.means_by_gender.ix[movie_id].mean()

reco = CollabGenderReco()
reco.learn()
print('RMSE for CollabGenderReco: %s' % evaluate(reco.estimate))

[ 3.          5.          3.66666667 ...,  3.83333333  4.33333333
  2.16666667]
RMSE for CollabGenderReco: 1.17400824171

In [34]:
#Age
class CollabGenderReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_age = movielens_train.pivot_table('rating', 
                                index='movie_id', columns='age')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same gender. """
        
        if movie_id not in self.means_by_age.index: 
            return 3.0
        
        user_age = user_info.ix[user_id, 'age']
        if ~np.isnan(self.means_by_age.ix[movie_id, user_age]):
            return self.means_by_age.ix[movie_id, user_age]
        else:
            return self.means_by_age.ix[movie_id].mean()

reco = CollabGenderReco()
reco.learn()
print('RMSE for CollabAgeReco: %s' % evaluate(reco.estimate))

[ 4.          4.          3.6        ...,  3.          4.66666667  2.375     ]
RMSE for CollabAgeReco: 1.20520133441

In [35]:
#Zip
class CollabGenderReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_zip = movielens_train.pivot_table('rating', 
                                index='movie_id', columns='zip')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same gender. """
        
        if movie_id not in self.means_by_zip.index: 
            return 3.0
        
        user_zip = user_info.ix[user_id, 'zip']
        if ~np.isnan(self.means_by_zip.ix[movie_id, user_zip]):
            return self.means_by_zip.ix[movie_id, user_zip]
        else:
            return self.means_by_zip.ix[movie_id].mean()

reco = CollabGenderReco()
reco.learn()
print('RMSE for CollabZipReco: %s' % evaluate(reco.estimate))

[ 4.          4.          3.57142857 ...,  4.          4.4         2.16666667]
RMSE for CollabZipReco: 1.12566403192

In [36]:
#Occupation
class CollabOccupationReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_occupation = movielens_train.pivot_table('rating', index='movie_id', columns='occupation')

    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same occupation. """
        
        if movie_id not in self.means_by_occupation.index: 
            return 3.0
        
        user_occupation = user_info.ix[user_id, 'occupation']
        if ~np.isnan(self.means_by_occupation.ix[movie_id, user_occupation]):
            return self.means_by_occupation.ix[movie_id, user_occupation]
        else:
            return self.means_by_occupation.ix[movie_id].mean()

reco = CollabOccupationReco()
reco.learn()
print('RMSE for CollabOccupationReco: %s' % evaluate(reco.estimate))

[ 4.          4.          3.         ...,  4.          4.14285714
  1.83333333]
RMSE for CollabOccupationReco: 1.20287696436

In [37]:
#Occupation
class ContentGeneresReco:
    """ Collaborative filtering using an implicit sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.means_by_userId = movielens_train.pivot_table('rating',
                            index='user_id', columns='genres',
                                                 fill_value=0)
    def estimate(self, user_id, movie_id):
        """ Mean ratings by other users of the same occupation. """
        
        if user_id not in self.means_by_userId.index: 
            return 0.0
        user_condition = movielens_train.user_id == user_id
        return movielens_train.loc[user_condition, 'rating'].mean()
        
        
        

reco = ContentGeneresReco()
reco.learn()
print('RMSE for CollabOccupationReco: %s' % evaluate(reco.estimate))

[ 3.66666667  4.5         4.28571429 ...,  4.          4.5         4.        ]
RMSE for CollabOccupationReco: 1.23078247597

# Mini-Challenge: second round
Implement an `estimate` function of your own using other custom similarity notions, eg.:

- euclidean
- cosine

In [38]:
def euclidean(s1, s2):
    """Take two pd.Series objects and return their euclidean 'similarity'."""
    diff = s1 - s2
    return 1 / (1 + np.sqrt(np.sum(diff ** 2)))

In [40]:
#all_user_profiles = movielens_train.pivot_table('rating',
                            #index='movie_id', columns='user_id')
#all_user_profiles.head()

In [41]:
#movielens_train.movie_id

In [589]:
class CollabEuclideanReco:
    """ Collaborative filtering using a custom sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.all_user_profiles = movielens_train.pivot_table('rating',
                                index='movie_id', columns='user_id')

    def estimate(self, user_id, movie_id):
        """ Ratings weighted by correlation similarity. """
        
        user_condition = movielens_train.user_id != user_id
        movie_condition = movielens_train.movie_id == movie_id
        ratings_by_others = movielens_train.loc[user_condition & movie_condition]
        #print(ratings_by_others.rating)
        if ratings_by_others.empty: 
            return 3.0
        #print(ratings_by_others.head())
        ratings_by_others.set_index('user_id', inplace=True)
        their_ids = ratings_by_others.index
        their_ratings = ratings_by_others.rating
        their_profiles = self.all_user_profiles[their_ids]
        user_profile = self.all_user_profiles[user_id]
        sims = their_profiles.apply(lambda profile: euclidean(profile, user_profile), axis=0)
        #print(sims)
        ratings_sims = pd.DataFrame({'sim': sims, 'rating': their_ratings})
        #print(ratings_sims.head())
        ratings_sims = ratings_sims[ratings_sims.sim > 0]
        if ratings_sims.empty:
            return their_ratings.mean()
        else:
            return np.average(ratings_sims.rating, weights=ratings_sims.sim)
        
reco = CollabEuclideanReco()
reco.learn()
print('RMSE for CollabEuclideanReco: %s' % evaluate(reco.estimate))

[ 4.          4.          3.57142857 ...,  4.          4.4         2.16666667]
RMSE for CollabEuclideanReco: 1.123429476

In [56]:
def cosine(s1, s2):
    """Take two pd.Series objects and return their cosine similarity."""
    return np.sum(s1 * s2) / np.sqrt(np.sum(s1 ** 2) * np.sum(s2 ** 2))

In [57]:
class CollabCosineReco:
    """ Collaborative filtering using a custom sim(u,u'). """

    def learn(self):
        """ Prepare datastructures for estimation. """
        
        self.all_user_profiles = movielens_train.pivot_table('rating', index='movie_id', columns='user_id')

    def estimate(self, user_id, movie_id):
        """ Ratings weighted by correlation similarity. """
        
        user_condition = movielens_train.user_id != user_id
        movie_condition = movielens_train.movie_id == movie_id
        ratings_by_others = movielens_train.loc[user_condition & movie_condition]
        if ratings_by_others.empty: 
            return 3.0
        
        ratings_by_others.set_index('user_id', inplace=True)
        their_ids = ratings_by_others.index
        their_ratings = ratings_by_others.rating
        their_profiles = self.all_user_profiles[their_ids]
        user_profile = self.all_user_profiles[user_id]
        sims = their_profiles.apply(lambda profile: cosine(profile, user_profile), axis=0)
        ratings_sims = pd.DataFrame({'sim': sims, 'rating': their_ratings})
        ratings_sims = ratings_sims[ratings_sims.sim > 0]
        if ratings_sims.empty:
            return their_ratings.mean()
        else:
            return np.average(ratings_sims.rating, weights=ratings_sims.sim)
        
reco = CollabCosineReco()
reco.learn()
print('RMSE for CollabCosineReco: %s' % evaluate(reco.estimate))

[ 4.          4.          3.57142857 ...,  4.          4.4         2.16666667]
RMSE for CollabCosineReco: 1.13439921696

In [523]:
#movielens_train

In [571]:
#movielens_train[movielens_train.movie_id==3798]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,for_testing
593263,3562,3798,4,967332344,F,25,6,32812,What Lies Beneath (2000),Thriller,False
593269,3618,3798,3,966598357,M,56,17,22657,What Lies Beneath (2000),Thriller,False